<header class="header">
  <div class="header-inner">
    <div class="logo">
      <a title="Главная RDB24" href="https://rdb24.ru/">
        <img src="{{logo_url}}" alt="{{t 'logo'}}">
      </a>
    </div>
    <nav class="user-nav">
      <!--
      <h4>Блог основателя  <a title="RDB24" href="https://rdb24.com/">RDB24</a> - <a href="https://msklv.medium.com/">🔖Михаила Соколова <br /> — про 🏈Scrum мастерство и разработку сложных продуктов </a></h4>
      -->
      {{#if alternative_locales}}
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
      {{link 'new_request' class='submit-a-request'}}
      {{user_info}}
    </nav>
  </div>
</header>
